<div class="pie_chart">
  <p class="fa fa-pie-chart"><%= t "admin.system_statistics.pie_chart" %></p>
  <%= pie_chart  @space_count_of_venue_chart %>
</div>
<div class="line_chart">
  <p class="fa fa-line-chart"><%= t "admin.system_statistics.line_chart" %></p>
  <%= line_chart  @space_count_of_venue_chart %>
</div>
